# Python
nlp-service/venv/
nlp-service/__pycache__/
nlp-service/services/__pycache__/
nlp-service/*.pyc

# Next.js
web-app/.next/
web-app/node_modules/
web-app/.env.local

# General
.DS_Store
*.log
node_modules
